/* 콘텐츠 영역 */

/* 최상단 주차 css */
.week1 {
    display: flex;
    height: 100%;

    .left {
        display: flex;
        width: 450px;
        min-width: 450px;
        max-width: 450px;
        flex-direction: column;
        padding: 20px;
        background-color: #ffffff;

        .title {
            display: flex;
            align-items: center;
            column-gap: 8px;
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 15px;

            .red {
                width: 14px;
                height: 20px;
                background: #ea002c;
                border-radius: 43%;
            }
        }

        .chart-tab-list {
            display: flex;
            column-gap: 3px;

            .chart-tab-item {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 21px;
                color: #aaaaaa;
                background-color: #f2f4f6;
                border: 1px solid #e4e5e5;
                border-bottom: 0;
                border-radius: 10px 10px 0 0;
                width: 100px;
                height: 35px;
                cursor: pointer;

                &.chart-tab-active {
                    background-color: #ffffff;
                    color: #ea002c;
                    font-weight: 700;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -1px;
                        left: 0;
                        right: 0;
                        height: 1px;
                        background-color: #ffffff;
                    }
                }
            }
        }

        .chart-container {
            width: 100%;
            aspect-ratio: 4 / 5;
            overflow: hidden;
            border: 1px solid #e4e5e5;
            margin-bottom: 20px;
            border-radius: 0 0 10px 10px;

            .chart-panel {
                display: none; // 기본적으로 숨김
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                font-size: 20px;
                font-weight: 600;

                &.active {
                    display: flex; // active 클래스가 붙으면 표시
                    #custom-legend {
                        -webkit-animation: slideDown 1s ease-out 0s 1 normal forwards;
                        animation: slideDown 1s ease-out 0s 1 normal forwards;
                    }

                    #mi-view-canvas {
                        -webkit-animation: Fade 2s ease-out 0s 1 normal forwards;
                        animation: Fade 2s ease-out 0s 1 normal forwards;
                    }
                }
            }
        }

        .explain {
            list-style: disc;
            display: flex;
            overflow-y: auto;
            flex-direction: column;
            width: 100%;
            flex: 1;
            row-gap: 5px;
            font-weight: bold;
            border: 1px solid #e4e5e5;
            background-color: #f2f4f6;
            border-radius: 10px;
            padding: 15px 15px 15px 35px;
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        flex: 1;
        row-gap: 30px;
        padding: 20px;
        overflow-y: auto;
        background-color: #ebebeb;

        .event {
            display: flex;
            row-gap: 10px;
            flex-direction: column;

            .title {
                display: flex;
                align-items: center;
                -moz-column-gap: 8px;
                column-gap: 8px;
                font-size: 22px;
                font-weight: bold;

                .red {
                    width: 14px;
                    height: 20px;
                    background: #ea002c;
                    border-radius: 43%;
                }
            }

            .details {
                display: grid;
                gap: 10px;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);

                .item {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 18px;
                    font-weight: bold;
                    background-color: #ffffff;
                    height: 70px;
                    border: 1px solid #d9d9d9;
                    border-radius: 100px;
                    cursor: pointer;
                    padding: 10px 20px;

                    &:hover {
                        border-color: #ea002c;
                        color: #ea002c;
                    }

                    .hoverItem {
                        display: none;
                        position: absolute;

                        &.active {
                            top: 80%;
                            z-index: 10;
                            background-color: #595959;
                            border-radius: 10px;
                            padding: 10px;
                            color: #ffffff;
                            display: flex;
                            flex-direction: column;
                            row-gap: 5px;

                            li {
                                display: flex;
                                flex-direction: column;
                                row-gap: 5px;

                                .sub-title {
                                    font-weight: 700;
                                }

                                .explain {
                                    font-size: 14px;
                                    word-break: keep-all;
                                }
                            }

                            &::before {
                                content: "";
                                position: absolute;
                                bottom: 100%;
                                left: 50%;
                                transform: translateX(-50%);
                                /* 삼각형 핵심 설정 */
                                width: 0;
                                height: 0;
                                border-bottom: 10px solid #595959; /* 밑변 (위로 향하는 삼각형) */
                                border-left: 10px solid transparent;
                                border-right: 10px solid transparent;
                            }
                        }
                    }
                }
            }
        }

        .view {
            display: flex;
            row-gap: 10px;
            flex-direction: column;

            .title {
                display: flex;
                align-items: center;
                -moz-column-gap: 8px;
                column-gap: 8px;
                font-size: 22px;
                font-weight: bold;

                .red {
                    width: 14px;
                    height: 20px;
                    background: #ea002c;
                    border-radius: 43%;
                }
            }

            .details {
                display: flex;
                flex-direction: column;
                background-color: #ffffff;
                padding: 15px;
                border-radius: 10px;
                position: relative;

                .inner-title {
                    font-weight: bold;
                    margin-bottom: 10px;
                    padding: 0 0 0 5px;
                    display: flex;

                    .icon {
                        display: inline-block;
                        width: 20px;
                        margin-right: 5px;
                        aspect-ratio: 1;
                        background: url("../images/message-square-check.png") no-repeat center / cover;
                    }
                }

                .table-top {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 18px;
                    height: 50px;
                    color: #ffffff;
                    background-color: #000000;
                    border-radius: 10px 10px 0 0;
                }

                .table-area {
                    border-width: 0 1px 1px 1px;
                    border-style: solid;
                    border-color: #e4e5e5;
                    border-radius: 0 0 10px 10px;
                    overflow: hidden;

                    table {
                        width: 100%;
                        border-collapse: collapse;

                        thead {
                            tr {
                                th {
                                    width: 33.33%;
                                    background-color: #f2f4f6;
                                    height: 50px;
                                    font-size: 18px;
                                    font-weight: bold;
                                    color: #ea002c;
                                    border-bottom: 1px solid #e4e5e5;

                                    &:not(:last-child) {
                                        border-right: 1px solid #e4e5e5;
                                    }
                                }
                            }
                        }

                        tbody {
                            tr {
                                td {
                                    font-weight: bold;
                                    text-align: center;
                                    font-size: 18px;
                                    color: #666666;
                                    padding: 15px 10px;
                                    word-break: keep-all;

                                    &:not(:last-child) {
                                        border-right: 1px solid #e4e5e5;
                                    }
                                }

                                &:not(:last-child) {
                                    td {
                                        border-bottom: 1px solid #e4e5e5;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .insight {
            display: flex;
            row-gap: 10px;
            flex-direction: column;

            .title {
                display: flex;
                align-items: center;
                -moz-column-gap: 8px;
                column-gap: 8px;
                font-size: 22px;
                font-weight: bold;

                .red {
                    width: 14px;
                    height: 20px;
                    background: #ea002c;
                    border-radius: 43%;
                }
            }

            .details {
                display: flex;
                row-gap: 5px;
                list-style: disc;
                flex-direction: column;
                background-color: #ffffff;
                padding: 15px 15px 15px 35px;
                border-radius: 10px;
            }
        }

        .detail-modal {
            position: fixed;
            bottom: 110px; /* 아이콘 위로 배치 */
            right: 20px;
            width: 500px;
            background: white;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 15px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
            display: none; /* 기본적으로 숨김 */
            flex-direction: column;
            z-index: 1000;
            overflow: auto;
            row-gap: 10px;

            .title {
                padding: 10px 0;
                color: #ea002c;
                border-radius: 10px;
                font-size: 21px;
                font-weight: 800;
            }

            .data1 {
                h3 {
                    font-size: 18px;
                    font-weight: 700;
                    color: #000;
                }

                ul {
                    li {
                        color: #666666;
                    }
                }
            }

            &.show {
                display: flex;
            }
        }

        .event-result {
            position: fixed;
            bottom: 110px; /* 아이콘 위로 배치 */
            right: 20px;
            width: 500px;
            background: white;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 15px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
            display: none; /* 기본적으로 숨김 */
            flex-direction: column;
            z-index: 1000;
            overflow: auto;
            row-gap: 10px;

            .title {
                padding: 10px 0;
                color: #ea002c;
                border-radius: 10px;
                font-size: 21px;
                font-weight: 800;
            }

            .details {
                display: flex;
                flex-direction: column;
                row-gap: 5px;

                .sub-title {
                    font-size: 18px;
                    font-weight: 700;
                    color: #000;
                }

                table {
                    border-collapse: collapse;

                    thead {
                        tr {
                            th {
                                width: 33.33%;
                                background-color: #f2f4f6;
                                height: 30px;
                                font-weight: bold;
                                color: #ea002c;

                                &:not(:last-child) {
                                    border-right: 1px solid #e4e5e5;
                                }
                            }
                        }
                    }

                    tbody {
                        tr {
                            td {
                                font-weight: bold;
                                text-align: center;
                                color: #666666;
                                padding: 5px 5px;

                                &:not(:last-child) {
                                    border-right: 1px solid #e4e5e5;
                                }
                            }

                            &:not(:last-child) {
                                td {
                                    border-bottom: 1px solid #e4e5e5;
                                }
                            }
                        }
                    }
                }
            }

            &.show {
                display: flex;
            }
        }
    }
}

@-webkit-keyframes slideAndFade {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes Fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes Fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(30px); /* 아래로 30px 이동한 상태에서 시작 */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* 원래 위치로 복귀 */
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(30px); /* 아래로 30px 이동한 상태에서 시작 */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* 원래 위치로 복귀 */
    }
}

@-webkit-keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-30px); /* 음수 값을 주어 위에서 시작하도록 설정 */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* 원래 위치로 복귀 */
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-30px); /* 음수 값을 주어 위에서 시작하도록 설정 */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* 원래 위치로 복귀 */
    }
}
